/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */



body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.kategoria,
.komentare {
    font-weight: 400;
    font-size: 14px;
    color: white;
    text-shadow: 0px 0px 5px rgba(16, 22, 7, 0.58);
    padding: 10px;
}



.nazov_hlavny {
    font-weight: 800;
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-shadow: 0px px 5px rgba(16, 22, 7, 0.58);
    padding-left: 10px;
    margin-top: 40%;
    
}

.nazov {
    font-weight: 800;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-shadow: 0px 0px 5px rgba(16, 22, 7, 0.58);
    margin-top: 6vh;
    padding-left: 10px;

}

.ostatne {
    display: flex;
    flex-direction: column;

}


.top {
    display: flex;
    flex-direction: column;
    background-image: url("images/salat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid white;
    flex-grow: 1;
    min-height: 200px;
    

}


.recept_1 {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.recept_2 {
    display: flex;
    flex-direction: column;
    background-image: url("images/chlebicek.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid white;
    flex-grow: 1;
    min-height: 90px;
    
    
}

.recept_3 {
    display: flex;
    flex-direction: column;
    background-image: url("images/tacos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid white;
    flex-grow: 1;
    min-height: 90px;
    
}

.recept_4 {
    display: flex;
    flex-direction: column;
    background-image: url("images/cizrna.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid white;
    flex-grow: 1;
    min-height: 90px;
}

.recept_5 {
    display: flex;
    flex-direction: column;
    background-image: url("images/burger.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid white;
    flex-grow: 1;
    min-height: 90px;
}

.svacina,
.mexicka,
.lusteniny,
.burgery,
.salat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Tablet */
@media screen and (min-width: 540px) {
    body {
        display: flex;
        flex-direction: column;
        
    }

    .ostatne {
        flex-direction: row;
        flex-wrap: wrap;
    }

   .nazov {
        margin-top: 6vh;
        padding-left: 10px;
        font-size: 22px;
        
   }

   .nazov_hlavny {
    font-size: 36px;
    padding-left: 20px;

   }


   .top {
    min-height: 250px;
    font-size: 36px;
   }

   .recept_1 {
    
   }
    
    .recept_2,
    .recept_3 {
        width: 40%;
        flex-grow: 1;
        border-bottom: 1px solid white;
        height: 150px;
        

    }

    .recept_2 {
        border-right: 1px solid white;
    }

    .recept_4,
    .recept_5 {
        width: 40%;
        flex-grow: 1;
        height: 150px;
        
    }

    .recept_4 {
        border-right: 1px solid white;
        

    }

    .kategoria,
    .komentare {
        padding: 20px;
    }
   